<div id="slider" class="flexslider">
    <ul class="slides">
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
        <li>
            <img src="assets/images/product_image_1.jpg" />
        </li>
    </ul>
</div>