<div class="boxes">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box d-flex flex-row align-items-center justify-content-start">
                    <div class="mt-auto">
                        <div class="box_image"><img src="images/boxes_1.png" alt=""></div>
                    </div>
                    <div class="box_content">
                        <div class="box_title">Size Guide</div>
                        <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 box_col">
                <div class="box d-flex flex-row align-items-center justify-content-start">
                    <div class="mt-auto">
                        <div class="box_image"><img src="images/boxes_2.png" alt=""></div>
                    </div>
                    <div class="box_content">
                        <div class="box_title">Shipping</div>
                        <div class="box_text">Phasellus sit amet nunc eros sed nec tellus.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>